body{
  margin: 0;
  padding: 0;
  border: 0;
}

.home{
  font-family: 'Russo One', sans-serif;
  background-image: url('/src/img/fondo-home.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: rgb(51, 7, 170);
}

h1, h3{
  margin-top: 5rem;
  background-color: rgb(230, 230, 238);
  border-radius: 1rem;
  opacity: 0.8;
  padding: 1rem;
  margin: 4rem;
  display: inline-block;
}

h3{
  margin: 0 20%;
  margin-bottom: 5%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
